@{
    ViewData["Title"] = "WebAdmin";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>401 &mdash; WebAdmin</title>
    <link rel="stylesheet" href="~/dist/assets/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/dist/assets/modules/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/dist/assets/css/style.css">
    <link rel="stylesheet" href="~/dist/assets/css/components.css">
</head>
<body>
    <div id="app">
        <section class="section">
            <div class="container mt-5">
                <div class="page-error">
                    <div class="page-inner">
                        <h1>401</h1>
                        <div class="page-description">
                            您无权访问此页面.
                        </div>
                        <div class="page-search">
                            <div class="mt-3">
                                <a href="@Href("~")/Home/Index">返回首页</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="simple-footer mt-5">
                </div>
            </div>
        </section>
    </div>
</body>
</html>